{% extends "base.twig" %}
{% block title %}Registrarse{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/IDevelop1/IDevelop/public/styles/nuevoUser.css">
{% endblock %}

{% block content %}
	<div id="tabla_id" class="card">
		<div class="card card-body border-info">
		<main>
			<form method="POST" id="formAlta" >
				<h1>Crea una cuenta</h1>
				<span>
					<label for="inputEmail">Nombre:</label>
					<input type="text" id="txtNombre" name="nombre" placeholder="Nombre" class="form-control" required>
				</span>
				<span>
					<label for="inputEmail">Apellido:</label>
					<input type="text" id="txtApellido" name="apellido" placeholder="Apellido" class="form-control" required>
				</span>
				<span>
					<label for="inputEmail">Correo:</label>
					<input type="email" id="txtID" name="identificador" placeholder="Correo electónico" class="form-control" required>
				</span>
				<span>
					<label for="inputEmail">Contraseña:</label>
					<input minlength=10 type="password" id="txtPass" name="pass" value="" placeholder="Contraseña nueva" class="form-control" required>
				</span>
				<br>
				<span>
					<label for="inputEmail">Fecha de nacimiento:</label>
					<input type="date" id="fecha" name="fecha" class="form-control" required>
				</span>
				<br>
				<span>
					<label for="inputEmail">Fecha de nacimiento:</label><br>
					<input type="radio" name="tipo" value="e" checked="">Empresa <br>
					<input type="radio" name="tipo" value="d">Desarrollador<br>
				</span>
				<br>
				<input id="boton" class="btn btn-info" type="submit" name="submit" value="Registrarme"><br>
				<a href="{{ path_for('ingresar') }}">Ya tengo una cuenta</a>
			</form>
		</main>
	</div>
</div>

<!-- Modal  de mensajes -->
<div id="modalAviso" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Resultado</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="mensajeModal">Modal body text goes here.</p>
			</div>
			<div class="modal-footer">	
				<a type="button" class="btn" id="redirigir">Aceptar</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript" src="/IDevelop1/IDevelop/public/scripts/nuevoUsuario.js"></script>
{% endblock %}
