{% extends "base.twig" %}
{% block title %}Registrarse{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/IDevelop1/IDevelop/public/styles/nuevoUser.css">
{% endblock %}

{% block content %}
<main>
	<form method="POST" id="formAlta">
		<h2>Crea una cuenta</h2>
		<span>
			<input type="text" id="txtNombre" name="nombre" placeholder="Nombre" required>
			<input type="text" id="txtApellido" name="apellido" placeholder="Apellido" required>
		</span>
		<span>
			<input type="email" id="txtID" name="identificador" placeholder="Correo electónico" required>
		</span>
		<span>
			<input type="password" id="txtPass" name="pass" value="" placeholder="Contraseña nueva" required>
		</span>
		<br>
		<span>
			<h5>Fecha de nacimiento</h5>
			<input type="date" id="fecha" name="fecha" required>
		</span>
		<br>
		<span>
			<h5>Tipo de usuario</h5>
			<input type="radio" name="tipo" value="e" checked="">Empresa <br>
			<input type="radio" name="tipo" value="d">Desarrollador<br>
		</span>
		<input type="submit" name="submit" value="Registrarme"><br>
		<a href="{{ path_for('ingresar') }}">Ya tengo una cuenta</a>
	</form>
</main>

<!-- Modal  de mensajes -->
<div id="modalAviso" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="mensajeModal">Modal body text goes here.</p>
			</div>
			<div class="modal-footer">	
				<a type="button" class="btn" id="redirigir">Aceptar</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript" src="/IDevelop1/IDevelop/public/scripts/nuevoUsuario.js"></script>
{% endblock %}
