{% extends "base.twig" %}
{% block title %}Registrarse{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/IDevelop1/IDevelop/public/styles/nuevoUser.css">
{% endblock %}

{% block content %}
<form method="POST" id="formAlta">
	<h2>Crea una cuenta</h2>
	<span>
		<input type="text" id="txtNombre" name="nombre" placeholder="Nombre" required>
		<input type="text" id="txtApellido" name="apellido" placeholder="Apellido" required>
	</span>
	<input type="text" id="txtID" name="identificador" placeholder="Número de celular o correo electónico" required>

	<input type="password" id="txtPass" name="pass" value="" placeholder="Contraseña nueva" required>
	<br>
	<h5>Fecha de nacimiento</h5>
	<input type="date" id="fecha" name="fecha" required><br>
	
	<input type="radio" name="sexo" value="1" checked="">Hombre <br>
	<input type="radio" name="sexo" value="0">Mujer<br>
	
	<input type="radio" name="tipo" value="e" checked="">Empresa <br>
	<input type="radio" name="tipo" value="d">Desarrollador<br>
	
	<input type="submit" name="submit" value="Registrarme"><br>
	<a href="{{ path_for('ingresar') }}">Ya tengo una cuenta</a>
</form>

<!-- Modal  de mensajes -->
<div id="modalAviso" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="mensajeModal">Modal body text goes here.</p>
			</div>
			<div class="modal-footer">	<a href="{{ path_for('ingresar') }}">Aceptar</a>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="/IDevelop1/IDevelop/public/scripts/nuevoUsuario.js"></script>

{% endblock %}

