{% extends "base.twig" %}
{% block title %}Crear proyecto{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/IDevelop1/IDevelop/public/styles/altaProyecto.css">
{% endblock %}

{% block content %}
<main>
<div id="tabla_id" class="card">
		<div class="card card-body border-info">
	<form method="POST" id="formAltaProyecto">
		<h2>Crea una cuenta</h2>
		<span>
			<label for="txtNombre"> Nombre Proyecto:</label>
			<input class="form-control" type="text" id="txtNombre" name="nombre" required>
		</span>
		<span>
			<label for="txtDescripcion">Descripcion Proyecto:</label>
			<textarea class="form-control" name="txtDescripcion" id="txtDescripcion" rows="10" cols="50" placeholder="Descripción del proyecto..."> </textarea>
		</span>
		<span>
			<label for="txtFechaFP"> Fecha final de postulación:</label>
			<input class="form-control" type="date" id="txtFechaFP" onchange="cambiarFecha(this.value)" name="txtFechaFP" required>
		<span>
			<label for="txtFecha"> Fecha Entrega proyecto:</label>
			<input class="form-control" type="date" id="txtFechaE"  name="txtFechaE" required>
		</span>
		<br>
		<input class="btn btn-info" type="submit" name="submit" value="Crear proyecto"><br>
		
	</form>
	</div>
	</div>
</main>

<!-- Modal  de mensajes -->
<div id="modalAviso" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="mensajeModal">Modal body text goes here.</p>
			</div>
			<div class="modal-footer">	
				<a type="button" class="btn" id="redirigir">Aceptar</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript" src="/IDevelop1/IDevelop/public/scripts/altaProyecto.js"></script>

 <script>
    var today = new Date();
    var dd = today.getDate() + 1;
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("txtFechaFP").setAttribute("min", today);
</script>


<script type="text/javascript">
function cambiarFecha(val){
    var today = new Date(val);
    
    today.setDate(today.getDate() + 30);

    var dd = today.getDate() + 1;
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();


	if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("txtFechaE").setAttribute("value",today);
    document.getElementById("txtFechaE").setAttribute("min", today);
}
</script>


{% endblock %}
