<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} . IDevelop</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="../vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="../vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../vendor/twbs/jquery/jquery-3.4.1.min.js" ></script>


</head>
<body>
    {% include("nav.twig") %}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}

        {% endblock %}
    </div>

    {% include("footer.twig") %}
</body>
</html>
