{% extends "base.twig" %}
{% block title %}Planificar Proyecto{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/IDevelop1/IDevelop/public/styles/altaProyecto.css">
{% endblock %}

{% block content %}
<main>
<div id="tabla_id" class="card">
	<div class="card card-body border-info">
		<form method="POST" id="formCasosDeUso">
			<h2>Informacion del caso de uso</h2>
			<span>
				<label for="txtNombreCU"> Nombre caso de uso:</label>
				<input class="form-control" type="text" id="txtNombreCU" name="nombre" required>
			</span>
			<br>
			<span>
				<label for="txtDescripcion">Descripcion Proyecto:</label>
				<textarea class="form-control" name="txtDescripcion" id="txtDescripcion" rows="10" cols="50" placeholder="Descripción del proyecto..."> </textarea>
			</span>
			<br>
			<span>
				<label for="Impacto"> Impacto en el proyecto:</label>
				<select id="Impacto">
					<option value="10">Bajo</option>
					<option value="20">Medio</option>
					<option value="30">Alto</option>
				</select>
			</span>
			<br>
			<br>
			<input class="btn btn-info" type="submit" name="submit" value="Crear caso de uso">
			<br>		
		</form>
	</div>
</div>
</main>

<!-- Modal  de mensajes -->
<div id="modalAviso" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Aviso</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="mensajeModal">Modal body text goes here.</p>
			</div>
			<div class="modal-footer">	
				<a type="button" class="btn" id="redirigir">Aceptar</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript" src="/IDevelop1/IDevelop/public/scripts/casosdeuso.js"></script>
{% endblock %}
