<div class="card text-center">

	<div class="card-body">
		<h5 class="card-title">IDevelop</h5>
		<p class="card-text">Herramientas para empresas y desarrolladores</p>
	</div>
	<div class="card-footer text-muted">
		2019 IDevelop, Inc.
	</div>
</div>