{% extends "base.twig" %}

{% block title %}Inicio{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../public/styles/index.css">
{% endblock %}
{% block content %}
    <p class="important">
        <div><img src="../public/img/inicio.jpg"></div>
    </p>
{% endblock %}