{% extends "base.twig" %}

{% block title %}Inicio{% endblock %}

{% block head %}
{% endblock %}
{% block content %}
    <h1>Cuerpo</h1>
    <p class="important">
        Cuerpo del Index
    </p>
{% endblock %}