<html>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/IDevelop1/IDevelop/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/IDevelop1/IDevelop/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/IDevelop1/IDevelop/vendor/twbs/jquery/jquery-3.4.1.min.js" ></script>
    {% block head %}{% endblock %}
    </head>
    <body>
    {% include("nav.twig") %}
<h1>Empresas</h1>
<table>
<tr>
  <td>Email</td>
  <td>Nombre</td>
  <td>Telefono</td>
  <td>Accion</td>
</tr>
{% for emp in Empresas %}
<tr>
  <td>{{ emp.email }}</td>
  <td>{{ emp.nombre }}</td>
  <td>{{ emp.telefono }}</td>
  <td><a href="http://localhost/IDevelop1/IDevelop/public/Usuario/PerfilE?email={{ emp.email }}">Ver Perfil</a></td>
</tr>
{% endfor %}
</table>
    </body>
    </html>