<html>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/IDevelop1/IDevelop/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/IDevelop1/IDevelop/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/IDevelop1/IDevelop/vendor/twbs/jquery/jquery-3.4.1.min.js" ></script>
    {% block head %}{% endblock %}
    </head>
    <body>
    {% include("nav.twig") %}
<h1>Desarrolladores</h1>
{% for user in usuarios %}
<tr>
  <td>{{ user.getEmail() }}</td>
</tr>
{% endfor %}
    </body>