{% block title %}Desarrolladores{% endblock %}
{% extends "base.twig" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/IDevelop1/IDevelop/public/styles/Estilos_generales.css">
{% endblock %}
{% block content %}

<div id="tabla_id">
<h1>Empresas</h1> 
  <table class="table">
    <thead>
  <tr id="tabla_titulo" class="bg-info">
    <td>Email</td>
    <td>Nombre</td>
    <td>Telefono</td>
    <td>Accion</td>
  </tr>
    </thead>
    <tbody>
  {% for emp in Empresas %}
  <tr>
    <td>{{ emp.email }}</td>
    <td>{{ emp.nombre }}</td>
    <td>{{ emp.telefono }}</td>
    <td><a href="http://localhost/IDevelop1/IDevelop/public/Usuario/PerfilE?email={{ emp.email }}">Ver Perfil</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}