{% extends "base.twig" %}
{% block title %}Login{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/IDevelop1/IDevelop/public/styles/Estilos_generales.css">
<link rel="stylesheet" type="text/css" href="/IDevelop1/IDevelop/public/styles/login_2.css">
{% endblock %}
{% block content %}
<div id="tabla_id" class="card">
    <div class="card card-body border-info">
        <h1>Iniciar sesión</h1>
        <form id="formLogin" method="POST" class="form-signin">
           <div class="text-center mb-4">
            <img src="/IDevelop1/IDevelop/public/img/user.png" width="72" height="72">
        </div>
        <label for="inputEmail">Correo:</label>
        <input type="email" id="Correo" name="Correo" class="form-control" placeholder="Correo" required autofocus>
        <label for="inputPassword">Contraseña:</label>
        <input type="password" id="Contrasena" name="Contrasena" class="form-control" placeholder="Contraseña" required>
        <br>
        <div class="text-center mb-4">
            <input type="checkbox" id="Seguir "name="Seguir"> Recordarme <br>
            <input class="btn btn-info" type="submit" name="aceptar" value="Confirmar">
        </div>
    </form>
</div>
</div>
{%block script%}
<script type="text/javascript" src="/IDevelop1/IDevelop/public/scripts/Loggin.js"></script>
{% endblock %}
{% endblock %}