<html>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/IDevelop1/IDevelop/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/IDevelop1/IDevelop/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/IDevelop1/IDevelop/vendor/twbs/jquery/jquery-3.4.1.min.js" ></script>
    {% block head %}{% endblock %}
    </head>
    <body>
    {% include("nav.twig") %}
    {% include("../src/Login.php") %}
<h1>Login</h1>

<form action="iniciarsesion()" method="POST">
<p>Correo:</p>
<input type="text" name="Correo">
<p>Contraseña:</p>
<input type="password" name="Contrasena"><br>
<input type="checkbox" name="Seguir"> Recordarme <br>
<input type="submit" name="aceptar" value="Confirmar">
</form>
    </body>
</html>