{% extends "base.twig" %}
{% block title %}Mensaje{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{path_for('Inicio')}}styles/Estilos_generales.css">
{% endblock %}
{% block content %}
<div id="tabla_id" class="card">
	<div class="card card-body border-info">
		<h1>{{mensaje}}</h1>
	</div>
</div>
{% endblock %}