.casodeuso {
  border: none;
	background: #00A4BA;
	box-shadow: 1px 5px 5px;
  border-radius: 10px;
  width: 18rem;
  margin: 10px; 
}

option{
  width: 400px;
}

.padre{
  text-align:center;
}
.cdu{
  display: inline-block;
}
.hijo{
  display: inline-block;
}

.mediano{
  
}

p{
  color: white;
}

label{
  color: white;
}



.grid-container {
  display: grid;
  grid-template-columns: 355px;
  padding: 10px;
}

div.cdu p{
  color: white;
  text-align: left;
	 display: block;
}
div{
  color:black;
}
p{
  color:black;
}
progress {
    border: 0;
    height: 20px;
    border-radius: 20px;
}
progress::-webkit-progress-bar {
    border: 0;
    height: 20px;
    border-radius: 20px;
}
progress::-webkit-progress-value {
    border: 0;
    height: 20px;
    border-radius: 20px;
}
progress::-moz-progress-bar {
    border: 0;
    height: 20px;
    border-radius: 20px;
}
progress[value]::-moz-progress-bar { 
  background-image:
    -moz-linear-gradient(
      135deg, 
      transparent 33%, 
      rgba(0, 0, 0, 0.1) 33%, 
      rgba(0, 0, 0, 0.1) 66%, 
      transparent 66% 
    ),
    -moz-linear-gradient(
      top, 
      rgba(255, 255, 255, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    -moz-linear-gradient(
      left, 
      #009acd , 
      #1ac6ff
    );

  border-radius: 2px; 
  background-size: 35px 20px, 100% 100%, 100% 100%; 
}