h1 {
	text-align: center;	
	font-family: Comfortaa;
}

#tabla_titulo{
	color:white;
}
#tabla_id{
	max-width: 960px;
	margin:30px auto 0px auto ;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

#perfil_tab{
	color: #17A2B8;
}

#imagen_perfil{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-left: 100px;
	margin-top: 65px;
	style="display: inline-block;"
}

h3{
	margin-left: 150px;
}



.fila:hover{
  background-color: #D7D9DE;
  cursor: pointer;
}

#buscar{
	border-color: gray;
	border-radius: 5px;
	width: 300px;
	height: 40px;
		display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.descripcion{
	width: 100%;
	border: none;
	height: 200px;
	
	background-color: transparent;

}

.tdDescripcion{
	width: 80%;
}
